## Uso de Listas

In [1]:
lista = [10,20,30,40]
lista2 = ["a","b","c"]

In [2]:
lista[1]=100
print(lista)
lista[2]="hola"
print(lista)

[10, 100, 30, 40]
[10, 100, 'hola', 40]

In [7]:
# agrega el elemento 99 al final de "lista"
lista.append(99)
lista

[10, 100, 77, 'hola', 40, 99, 99]

In [4]:
# insertar el elemento 77 en la posición 2 de "lista"
lista.insert(2,77)
lista

[10, 100, 77, 'hola', 40, 99]

In [8]:
# remover un elemento de la lista (solo se borra la primera ocurrencia)

lista.remove(99)
lista

[10, 100, 77, 'hola', 40, 99]

In [ ]:
# Error porque el numero no se encuentra en la lista
lista.remove(666)
lista

ValueError: list.remove(x): x not in list

In [10]:
#Verificar que el valor se encuentre en la lsirta 
77 in lista

True

In [13]:
lista

[10, 100, 77, 'hola', 40, 99]

In [14]:
lista[5]=88
lista

[10, 100, 77, 'hola', 40, 88]

In [16]:
#Sumar valores de la lista
lista[3]=lista[4]+lista[5]
lista

[10, 100, 77, 128, 40, 88]

## Metodos de liasta

In [1]:
a=[3,4,5,6,5]

In [4]:
a.count(5)

2

In [20]:
a.count(100)

0

In [5]:
a.reverse()

In [6]:
a

[5, 6, 5, 4, 3]

In [7]:
#acomodar los numeros de menor a mayor
a.sort()
a

[3, 4, 5, 5, 6]

In [25]:
b = ["zapata","aldama","allende","morelos","casanova"]
b.sort()
b

['aldama', 'allende', 'casanova', 'morelos', 'zapata']

In [8]:
# eliminar y devolver un elemento de una colección como una lista
print(a)
x=a.pop()
print(a)
print(x)

[3, 4, 5, 5, 6]
[3, 4, 5, 5]
6

In [10]:
#

In [28]:
#agregar varios elementos de una secuencia (lista, tupla, conjunto, etc.) al final de una lista existente

a=[3,4,5]
b=[6,7,8]
a.extend(b)
a

[3, 4, 5, 6, 7, 8]

## Tuplas

In [12]:
# La tuplas es una estructura de datos inmutables 

t=(1,2.7,"pinocho",True)
type(t)

tuple

In [13]:
2.7 in t

True

In [14]:
t.index("pinocho")

2

In [21]:
t.count("pinocho")

1

## DICCIONARIOS

In [7]:
# Un diccionario relaciona 2 valores: una llave y su valor. Es una colección de pares llave-valor (key-value)
# Las claves/llaves/key son inmutables.
# Los valores/value pueden cambiarse. 

d = {"nombre": "Pinocho", "edad":8, "pais":"Italia"}
d

{'nombre': 'Pinocho', 'edad': 8, 'pais': 'Italia'}

In [8]:
type(d)

dict

In [9]:
print(d["edad"])
print(d["pais"])
print(d["nombre"])

8
Italia
Pinocho

In [10]:
# Renobrer
d["nombre"] = "mentiroso"
d

{'nombre': 'mentiroso', 'edad': 8, 'pais': 'Italia'}

In [11]:
# Manera 1 de obtener el nombre
d["nombre"]

'mentiroso'

In [ ]:
# Otra manera de obtener el name 
d.get("nombre")

'mentiroso'

In [13]:
# eliminar un parametro de la lista 
del d["edad"]

In [14]:
d

{'nombre': 'mentiroso', 'pais': 'Italia'}

In [15]:
# Checar si un campoesta en el diccionari
"nombre" in d

True

## Iterando Una lista

In [23]:
equipos=["Kevin","Yukiel","Corona","Ramos"]
for name in equipos:
    print(name)

Kevin
Yukiel
Corona
Ramos

In [20]:
nu=[10,20,30,40,50]
for n in nu:
    print(n)

10
20
30
40
50

In [24]:
for k,v in enumerate(equipos,10):
    print(k," ",v)

10   Kevin
11   Yukiel
12   Corona
13   Ramos

In [32]:
# Iterando una tupla
tupla=(10,"Kevin",10.5)
for t in tupla:
    print(type(t))

<class 'int'>
<class 'str'>
<class 'float'>

In [33]:
#Iterando un diccionario 
D = {"nombre":"Gepeto","lugar":"Disneyland","profesion":"carpintero"}
for d in D:
    print(d)

nombre
lugar
profesion

In [35]:
for d in D.values():
    print(d)

Gepeto
Disneyland
carpintero

In [37]:
for d in D:
    print(d," ",D[d])

nombre   Gepeto
lugar   Disneyland
profesion   carpintero

In [41]:
for d,v in D.items():
    print(d,v)

nombre Gepeto
lugar Disneyland
profesion carpintero

In [42]:
#Iterando una cadena 
for men in "Hola mundo":
    print(men)

H
o
l
a

m
u
n
d
o

In [46]:
#iterando una lista de valores con decimales y obteniendo una salida formateada
print("123456789")
valores = [1.5,3.45,89.678,9.36,2.3]
for i in valores:
    print(f"Valores: {i:2.2f}")

123456789
Valores: 1.50
Valores: 3.45
Valores: 89.68
Valores: 9.36
Valores: 2.30

In [47]:
gallina = "co_"
gallina *= 4
gallina

'co_co_co_co_'

In [ ]:
# Explicasion de los que se hiso 
# Uso de listas lista = [10,20,30,40]
# Uso de tuplas t = (1,2.7,"pinocho", True) inmutable (no modificable)7
# Uso de Diccionarios d = {"nombre": "Pinocho", "edad":8, "pais":"Italia"}