## FILTRADO DE DATOS

In [1]:
import pandas as pd

In [2]:
df4 = pd.read_csv("csv/dataset30min.csv",index_col="id") 
df4.head(1)

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258

In [3]:
df5=df4[["full_text","favorites"]][0:3]
df5

                                                full_text  favorites
id
183721  Flying home to run down from the power to comi...       23.0
183722                Today we commemorate and MNML Case.      500.0
183723       Today we have reached US$6.55 Billion TT$44‚Ä¶      190.0

In [4]:
df4limpio = df4.dropna()
df4limpio.head(1)

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129

In [5]:
df4limpio

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129
183726,Contest: Win a fan of his ass. #thatisall Thanks!,492.0,70.0,6.0,BRASIL,mateusmartins,982.0,1822
183727,80's & friends! ‚úàÔ∏è,158.0,40.0,22.0,ECUADOR,leonardokuffo,389.0,258
183729,OnePlus 8 international giveaway classifies,198.0,82.0,26.0,MEXICO,pedrojuarez,12.0,129
183730,Here it is.. Retweet this desperate,272.0,92.0,29.0,BRASIL,mateusmartins,982.0,1822
183731,Great to advertise during the year I tweeted a...,43.0,111.0,8.0,BRASIL,mateusmartins,982.0,1822
183732,Its been in love with the game with the origin...,349.0,44.0,19.0,BRASIL,mateusmartins,982.0,1822
183733,Programming is the best!,467.0,69.0,10.0,ECUADOR,leonardokuffo,389.0,258
183734,I cannot believe this!,50.0,24.0,22.0,ECUADOR,leonardokuffo,389.0,258
183735,Buy this product NOW!!,418.0,24.0,2.0,MEXICO,gabrielcarvajal,21.0,2721
183736,I have one is best color gradients: Just relea...,361.0,92.0,1.0,MEXICO,pedrojuarez,12.0,129
183737,PIC!!,346.0,115.0,24.0,BRASIL,lucasperes,82.0,351
183738,hmmm feeling bad today,296.0,93.0,29.0,MEXICO,gabrielcarvajal,21.0,2721
183739,not feeling god right now,315.0,26.0,10.0,ECUADOR,galocastillo,332.0,378
183740,Programming is a hot topic!,133.0,145.0,15.0,BRASIL,lucasperes,82.0,351
183741,Programming? i love it!,92.0,146.0,1.0,ECUADOR,galocastillo,332.0,378
183742,WHAT???,255.0,73.0,17.0,ECUADOR,galocastillo,332.0,378
183743,Amazing video by Leonardo!,432.0,95.0,18.0,BRASIL,lucasperes,82.0,351
183745,There is nothing better than programming!,424.0,110.0,29.0,BRASIL,lucasperes,82.0,351
183746,BORED AF,488.0,28.0,27.0,MEXICO,gabrielcarvajal,21.0,2721
183747,I do not know if i like programming or other t...,318.0,58.0,20.0,BRASIL,isabelladasilva,928.0,9918

## Filtrado por columnas
#### df4limpio["favorites"]

In [6]:
#filtrado por columnas
# mostrar la columna de favoritos
df4limpio["favorites"]

id
183723    190.0
183724    131.0
183725    113.0
183726    492.0
183727    158.0
183729    198.0
183730    272.0
183731     43.0
183732    349.0
183733    467.0
183734     50.0
183735    418.0
183736    361.0
183737    346.0
183738    296.0
183739    315.0
183740    133.0
183741     92.0
183742    255.0
183743    432.0
183745    424.0
183746    488.0
183747    318.0
Name: favorites, dtype: float64

In [7]:
df4limpio["full_text"]

id
183723         Today we have reached US$6.55 Billion TT$44‚Ä¶
183724    Faking It by Joel Atwell. Written by Other cou...
183725                                      Welcome back! üôå
183726    Contest: Win a fan of his ass. #thatisall Thanks!
183727                                   80's & friends! ‚úàÔ∏è
183729          OnePlus 8 international giveaway classifies
183730                  Here it is.. Retweet this desperate
183731    Great to advertise during the year I tweeted a...
183732    Its been in love with the game with the origin...
183733                             Programming is the best!
183734                               I cannot believe this!
183735                               Buy this product NOW!!
183736    I have one is best color gradients: Just relea...
183737                                                PIC!!
183738                               hmmm feeling bad today
183739                            not feeling god right now
183740                          Programming is a hot topic!
183741                              Programming? i love it!
183742                                              WHAT???
183743                           Amazing video by Leonardo!
183745            There is nothing better than programming!
183746                                             BORED AF
183747    I do not know if i like programming or other t...
Name: full_text, dtype: object

In [8]:
# Uso del filtado por columnas 
# Con el uso de [[]]
df4limpio[["user","full_text","country"]]

,user,full_text,country
id,,,
183723,pedrojuarez,Today we have reached US$6.55 Billion TT$44‚Ä¶,MEXICO
183724,galocastillo,Faking It by Joel Atwell. Written by Other cou...,ECUADOR
183725,pedrojuarez,Welcome back! üôå,MEXICO
183726,mateusmartins,Contest: Win a fan of his ass. #thatisall Thanks!,BRASIL
183727,leonardokuffo,80's & friends! ‚úàÔ∏è,ECUADOR
183729,pedrojuarez,OnePlus 8 international giveaway classifies,MEXICO
183730,mateusmartins,Here it is.. Retweet this desperate,BRASIL
183731,mateusmartins,Great to advertise during the year I tweeted a...,BRASIL
183732,mateusmartins,Its been in love with the game with the origin...,BRASIL
183733,leonardokuffo,Programming is the best!,ECUADOR
183734,leonardokuffo,I cannot believe this!,ECUADOR
183735,gabrielcarvajal,Buy this product NOW!!,MEXICO
183736,pedrojuarez,I have one is best color gradients: Just relea...,MEXICO
183737,lucasperes,PIC!!,BRASIL
183738,gabrielcarvajal,hmmm feeling bad today,MEXICO
183739,galocastillo,not feeling god right now,ECUADOR
183740,lucasperes,Programming is a hot topic!,BRASIL
183741,galocastillo,Programming? i love it!,ECUADOR
183742,galocastillo,WHAT???,ECUADOR
183743,lucasperes,Amazing video by Leonardo!,BRASIL
183745,lucasperes,There is nothing better than programming!,BRASIL
183746,gabrielcarvajal,BORED AF,MEXICO
183747,isabelladasilva,I do not know if i like programming or other t...,BRASIL

## Filtrado por filas

### Uso del df4.iloc[0]

In [9]:
# usando el iloc, localizar la segunda fila (index=2)
# indice asignado por pandas
df4.iloc[0]

full_text    Flying home to run down from the power to comi...
favorites                                                 23.0
retweets                                                   NaN
mentions                                                  10.0
country                                                ECUADOR
user                                             leonardokuffo
followers                                                389.0
followees                                                  258
Name: 183721, dtype: object

In [10]:
df4.head(2)

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822

In [11]:
# Ahora con dos posiciones 
df4.iloc[[0,9]]

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
183730,Here it is.. Retweet this desperate,272.0,92.0,29.0,BRASIL,mateusmartins,982.0,1822

In [12]:
# Ahora con rangos 
df4.iloc[0:3]

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129

In [13]:
df4.loc[[183721,183722]]

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822

### loc ‚Üí Selecci√≥n por etiquetas (nombres)
### iloc ‚Üí Selecci√≥n por posici√≥n (√≠ndices num√©ricos)

## Filtrado por Filas y columnas

In [14]:
# mostrar los registros de indice 183727,183729, solo sus columnas user y full_text
df4limpio[["user","full_text"]].loc[[183727,183729]]

                 user                                    full_text
id
183727  leonardokuffo                           80's & friends! ‚úàÔ∏è
183729    pedrojuarez  OnePlus 8 international giveaway classifies

In [15]:
# filtrar por condiciones
# obtener aquellas filas, cuya columna favorites, sea mayor a 400
df4limpio[df4limpio["favorites"]>400]

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183726,Contest: Win a fan of his ass. #thatisall Thanks!,492.0,70.0,6.0,BRASIL,mateusmartins,982.0,1822
183733,Programming is the best!,467.0,69.0,10.0,ECUADOR,leonardokuffo,389.0,258
183735,Buy this product NOW!!,418.0,24.0,2.0,MEXICO,gabrielcarvajal,21.0,2721
183743,Amazing video by Leonardo!,432.0,95.0,18.0,BRASIL,lucasperes,82.0,351
183745,There is nothing better than programming!,424.0,110.0,29.0,BRASIL,lucasperes,82.0,351
183746,BORED AF,488.0,28.0,27.0,MEXICO,gabrielcarvajal,21.0,2721

In [16]:
# Filas con favoritos mayor a 400 y mentios mayor a 20
df4limpio[(df4limpio["favorites"]>400)&(df4limpio["mentions"]>20)]

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183745,There is nothing better than programming!,424.0,110.0,29.0,BRASIL,lucasperes,82.0,351
183746,BORED AF,488.0,28.0,27.0,MEXICO,gabrielcarvajal,21.0,2721

In [17]:
#filtrar por una cadena contenida
# Obtener aquellas filas, cuya columna full_text contenga la subacadena programming
df4limpio[df4limpio["full_text"].str.contains("programmin")]

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183732,Its been in love with the game with the origin...,349.0,44.0,19.0,BRASIL,mateusmartins,982.0,1822
183745,There is nothing better than programming!,424.0,110.0,29.0,BRASIL,lucasperes,82.0,351
183747,I do not know if i like programming or other t...,318.0,58.0,20.0,BRASIL,isabelladasilva,928.0,9918

In [18]:
df4limpio[df4limpio["full_text"].str.contains("programmin")][["user","full_text"]]

                   user                                          full_text
id
183732    mateusmartins  Its been in love with the game with the origin...
183745       lucasperes          There is nothing better than programming!
183747  isabelladasilva  I do not know if i like programming or other t...

## Calcular nuevas columnas

In [19]:
# Calcular un pago, que corresponda a las mensiones multiplicadas por 1.5 dolares
# Esto lo prondemos en una columna que se llama "PremioM"

def calcularPremio(m):
    return m*1.5

# Agregamos la columna premio y asignamos el valor 
df4limpio["PremioM"]=df4limpio["mentions"].apply(calcularPremio)
df4limpio.head(1)

C:\Users\kevin\AppData\Local\Temp\ipykernel_3536\2210816632.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4limpio["PremioM"]=df4limpio["mentions"].apply(calcularPremio)

,full_text,favorites,retweets,mentions,country,user,followers,followees,PremioM
id,,,,,,,,,
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129,9.0

In [20]:
# Otra forma de Resolverlo 
df4limpio["PremioM"]=df4limpio["mentions"]*1.5
df4limpio.head(1)

C:\Users\kevin\AppData\Local\Temp\ipykernel_3536\3880150461.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4limpio["PremioM"]=df4limpio["mentions"]*1.5

,full_text,favorites,retweets,mentions,country,user,followers,followees,PremioM
id,,,,,,,,,
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129,9.0

In [21]:
# Calcular la popularidad de cada fila en una columna
# Que se llame popularidad
# La popularidad se va a dividir los folloers entre followers

def popularida(fila):
    resultado=fila["followers"]/fila["followees"]
    return resultado

df4limpio["popularidad"]=df4limpio.apply(popularida,axis=1)
df4limpio.head(1)

C:\Users\kevin\AppData\Local\Temp\ipykernel_3536\3182918367.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4limpio["popularidad"]=df4limpio.apply(popularida,axis=1)

,full_text,favorites,retweets,mentions,country,user,followers,followees,PremioM,popularidad
id,,,,,,,,,,
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129,9.0,0.093023

In [22]:
# Ejercicio: Calcular el promedio de favoritos por pilas 
df4_2=df4limpio[["favorites","country"]]
df4_2.groupby("country").mean
df4_2

        favorites  country
id
183723      190.0   MEXICO
183724      131.0  ECUADOR
183725      113.0   MEXICO
183726      492.0   BRASIL
183727      158.0  ECUADOR
183729      198.0   MEXICO
183730      272.0   BRASIL
183731       43.0   BRASIL
183732      349.0   BRASIL
183733      467.0  ECUADOR
183734       50.0  ECUADOR
183735      418.0   MEXICO
183736      361.0   MEXICO
183737      346.0   BRASIL
183738      296.0   MEXICO
183739      315.0  ECUADOR
183740      133.0   BRASIL
183741       92.0  ECUADOR
183742      255.0  ECUADOR
183743      432.0   BRASIL
183745      424.0   BRASIL
183746      488.0   MEXICO
183747      318.0   BRASIL

In [23]:
# Desviasion estandar
print(df4_2.groupby("country").mean().std)
# Medio
print(df4_2.groupby("country").mean().mean)
# maximo
print(df4_2.groupby("country").mean().max)
# minimo
print(df4_2.groupby("country").mean().min)
# variansa agrupada
print(df4_2.groupby("country").mean().var)

<bound method DataFrame.std of           favorites
country
BRASIL   312.111111
ECUADOR  209.714286
MEXICO   294.857143>
<bound method DataFrame.mean of           favorites
country
BRASIL   312.111111
ECUADOR  209.714286
MEXICO   294.857143>
<bound method DataFrame.max of           favorites
country
BRASIL   312.111111
ECUADOR  209.714286
MEXICO   294.857143>
<bound method DataFrame.min of           favorites
country
BRASIL   312.111111
ECUADOR  209.714286
MEXICO   294.857143>
<bound method DataFrame.var of           favorites
country
BRASIL   312.111111
ECUADOR  209.714286
MEXICO   294.857143>

## Agrupar por User agrupando el valor maximo

In [24]:
# Agrupar por user calculando el valor maximo 
df4_2=df4limpio[["user","mentions"]]
df4_2.groupby("user").count()

                 mentions
user
gabrielcarvajal         3
galocastillo            4
isabelladasilva         1
leonardokuffo           3
lucasperes              4
mateusmartins           4
pedrojuarez             4

In [25]:
# Media mediana 
# mode moda

lista=[3,4,1,3,4,4,4,4]

In [26]:
serie1=pd.Series(lista)

In [27]:
serie1

0    3
1    4
2    1
3    3
4    4
5    4
6    4
7    4
dtype: int64

In [28]:
serie1.median()

np.float64(4.0)

In [29]:
serie1.mode()

0    4
dtype: int64

In [30]:
# Calculando diferentes medias estadisticas al grupo de datos, aplicando diferentes funsiones de agrupasion a cada una de las columnas 

dfAgrupado=df4limpio.groupby("country").agg(
    {
        "mentions":"mean",
        "followees":"sum",
        "retweets":"max"
    }
)
dfAgrupado

          mentions  followees  retweets
country
BRASIL   18.666667      18610     145.0
ECUADOR  12.142857       2286     146.0
MEXICO   14.285714       8679     130.0

In [31]:
# De los datos Agrupados anteriormente, filtrar aquellos cuyo valor de columna folloers sea mayor a 5000
dfAgrupado[dfAgrupado["followees"]>5000].count()

mentions     2
followees    2
retweets     2
dtype: int64

In [32]:
dfAgrupado[dfAgrupado["followees"]<5000].count()

mentions     1
followees    1
retweets     1
dtype: int64