## Leectura de un nuevo archivo

In [14]:
import pandas as pd

In [15]:
df=pd.read_csv("Python Tiburcio/datosx.csv")

In [18]:
# Informasion del data Frame 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nc           13 non-null     int64
 1   nombre       13 non-null     object
 2   carrera      13 non-null     object
 3   cooperacion  12 non-null     float64
 4   sexo         13 non-null     object
 5   procedencia  13 non-null     object
 6   Edad         12 non-null     float64
 7   Peso         13 non-null     float64
 8   Estatura     12 non-null     float64
dtypes: float64(4), int64(1), object(4)
memory usage: 1.0+ KB

In [20]:
# Tamaño del Data Frame
# Filas x Columnas 
df.shape

(13, 9)

In [5]:
df.size

117

In [6]:
# Lista de los nombres de las columnas 
df.columns

Index(['nc', 'nombre', 'carrera', 'cooperacion', 'sexo', 'procedencia', 'Edad',
       'Peso', 'Estatura'],
      dtype='object')

In [21]:
df.index

RangeIndex(start=0, stop=13, step=1)

In [8]:
df2=pd.read_csv("Python Tiburcio/datosx.csv",index_col="nc")

In [9]:
df2.index

Index([18090907, 17091058, 18091045, 18091054, 18091065, 19090356, 19090333,
       18090233, 18091049, 18090961, 21091037, 22090333, 22090555],
      dtype='int64', name='nc')

In [10]:
df2.dtypes

nombre          object
carrera         object
cooperacion    float64
sexo            object
procedencia     object
Edad           float64
Peso           float64
Estatura       float64
dtype: object

In [11]:
df.head(3)

,nc,nombre,carrera,cooperacion,sexo,procedencia,Edad,Peso,Estatura
0,18090907,Angel Axel Cuaxilo Rodirguez,ISC,100.0,Masculino,Amacuzac,21.0,80.0,1.75
1,17091058,Everest Daniel Gutierrez Andrade,ISC,100.0,Masculino,Ocuituco,21.0,78.0,1.70
2,18091045,Aurora de Jesus Linares Jacobo,ISC,100.0,Femenino,Temixco,22.0,65.0,1.65

## Cambiar el nombre de columnas en el Data Frame

In [22]:
df

,nc,nombre,carrera,cooperacion,sexo,procedencia,Edad,Peso,Estatura
0,18090907,Angel Axel Cuaxilo Rodirguez,ISC,100.0,Masculino,Amacuzac,21.0,80.00,1.75
1,17091058,Everest Daniel Gutierrez Andrade,ISC,100.0,Masculino,Ocuituco,21.0,78.00,1.70
2,18091045,Aurora de Jesus Linares Jacobo,ISC,100.0,Femenino,Temixco,22.0,65.00,1.65
3,18091054,Mario Martinez Arteaga,ISC,NaN,Masculino,Amacuzac,21.0,78.00,1.65
4,18091065,Yeel Montes Camacho,ISC,50.0,Masculino,Zacatepec,22.0,76.00,1.72
5,19090356,Georgina Itzel Alvarez,ISC,150.0,Femenino,Jojutla,21.0,75.00,1.60
6,19090333,Britney Spears,ADM,80.0,Femenino,HollyWood,NaN,1.64,NaN
7,18090233,Adrian Flores Herreram,ISC,100.0,Masculino,Zacatepec,22.0,78.00,1.69
8,18091049,Miriam Luna Aparicio,ISC,100.0,Femenino,Cuetzala,21.0,75.00,1.59
9,18090961,Salvador Jesus Barbina Cabrera,ISC,100.0,Masculino,Cuernavaca,22.0,78.00,1.71
10,21091037,Hernán Cortés,QUIM,100.0,Masculino,Cuernavaca,45.0,80.00,1.81
11,22090333,Juana de Arco,ADM,150.0,Femenino,Guanajuato,39.0,60.00,1.63
12,22090555,Bruce Wayne,QUIM,150.0,Masculino,Cd. Gótica,47.0,90.00,1.90

In [12]:
dfnuevo=df.rename(columns={"nc":"Numero de comtrol","procedencia":"Origen"},index={0:100,1:200})
dfnuevo.head(4)

,Numero de comtrol,nombre,carrera,cooperacion,sexo,Origen,Edad,Peso,Estatura
100,18090907,Angel Axel Cuaxilo Rodirguez,ISC,100.0,Masculino,Amacuzac,21.0,80.0,1.75
200,17091058,Everest Daniel Gutierrez Andrade,ISC,100.0,Masculino,Ocuituco,21.0,78.0,1.70
2,18091045,Aurora de Jesus Linares Jacobo,ISC,100.0,Femenino,Temixco,22.0,65.0,1.65
3,18091054,Mario Martinez Arteaga,ISC,NaN,Masculino,Amacuzac,21.0,78.0,1.65

In [13]:
# Renombrar a uno en espesifico por su Id
dfnuevo.rename(index={2:400})

,Numero de comtrol,nombre,carrera,cooperacion,sexo,Origen,Edad,Peso,Estatura
100,18090907,Angel Axel Cuaxilo Rodirguez,ISC,100.0,Masculino,Amacuzac,21.0,80.00,1.75
200,17091058,Everest Daniel Gutierrez Andrade,ISC,100.0,Masculino,Ocuituco,21.0,78.00,1.70
400,18091045,Aurora de Jesus Linares Jacobo,ISC,100.0,Femenino,Temixco,22.0,65.00,1.65
3,18091054,Mario Martinez Arteaga,ISC,NaN,Masculino,Amacuzac,21.0,78.00,1.65
4,18091065,Yeel Montes Camacho,ISC,50.0,Masculino,Zacatepec,22.0,76.00,1.72
5,19090356,Georgina Itzel Alvarez,ISC,150.0,Femenino,Jojutla,21.0,75.00,1.60
6,19090333,Britney Spears,ADM,80.0,Femenino,HollyWood,NaN,1.64,NaN
7,18090233,Adrian Flores Herreram,ISC,100.0,Masculino,Zacatepec,22.0,78.00,1.69
8,18091049,Miriam Luna Aparicio,ISC,100.0,Femenino,Cuetzala,21.0,75.00,1.59
9,18090961,Salvador Jesus Barbina Cabrera,ISC,100.0,Masculino,Cuernavaca,22.0,78.00,1.71
10,21091037,Hernán Cortés,QUIM,100.0,Masculino,Cuernavaca,45.0,80.00,1.81
11,22090333,Juana de Arco,ADM,150.0,Femenino,Guanajuato,39.0,60.00,1.63
12,22090555,Bruce Wayne,QUIM,150.0,Masculino,Cd. Gótica,47.0,90.00,1.90