## Trabajando con series

In [ ]:
# Una serie es una estructura de datos de una sola dimension 
# Vamos a crear una serie a partir de una lista

In [1]:
import pandas as pd

In [2]:
# Creasion de la lista 
lista=["Matematicas","Economia","Historia","Fisica","Programasion"]

In [3]:
lista

['Matematicas', 'Economia', 'Historia', 'Fisica', 'Programasion']

In [4]:
serie1=pd.Series(lista,dtype="string")

In [5]:
print(serie1)

0     Matematicas
1        Economia
2        Historia
3          Fisica
4    Programasion
dtype: string

## Creasion de una serie a partir de un diccionario

In [6]:
dic1={"Matematicas":70,"Historia":90,"Economia":85,"Fisica":90,"Programasion":90}

In [ ]:
# Impresion del diccionario
dic1

{'Matematicas': 70,
 'Historia': 90,
 'Economia': 85,
 'Fisica': 90,
 'Programasion': 90}

In [8]:
serie2=pd.Series(dic1)

In [9]:
print(serie2)

Matematicas     70
Historia        90
Economia        85
Fisica          90
Programasion    90
dtype: int64

In [13]:
serie1[2]

'Historia'

In [15]:
serie2.index

Index(['Matematicas', 'Historia', 'Economia', 'Fisica', 'Programasion'], dtype='object')

In [16]:
serie2.size

5

In [17]:
serie1.dtype

string[python]

In [18]:
serie2.dtype

dtype('int64')

## Pasando una lista directamente al crear una lista

In [19]:
s=pd.Series([1,2,2,3,3,3,4,4,4,4])
s

0    1
1    2
2    2
3    3
4    3
5    3
6    4
7    4
8    4
9    4
dtype: int64

In [20]:
# Tamaño
s.size

10

In [21]:
s.index

RangeIndex(start=0, stop=10, step=1)

In [22]:
s.dtype

dtype('int64')

In [28]:
# Poner otro valor en la posicion
s[8]=4

In [29]:
s

0    1
1    2
2    2
3    3
4    3
5    3
6    4
7    4
8    4
9    4
dtype: int64

## Metodos descriptivos de una serie

In [30]:
# Contar los elemenotos de una serie
s.count()

np.int64(10)

In [31]:
# Suma de todos los elementos de una Serie 
s.sum()

np.int64(30)

In [32]:
# Sacar la media de serie 
s.mean()

np.float64(3.0)

In [33]:
# Mediana de la Serie
s.median()

np.float64(3.0)

In [ ]:
# Moda de la Serie, valor que mas se repite
s.mode()

0    4
dtype: int64

In [37]:
s.max()

np.int64(4)

In [39]:
s.min()

np.int64(1)

In [ ]:
# Desviasion estabndar qué tanto se alejan los datos de su promedio.
s.std()

np.float64(1.0540925533894598)

In [41]:
# variansa varianza nos dice qué tanto se dispersan los datos, pero en unidades al cuadrado
s.var()

np.float64(1.1111111111111112)

In [42]:
#" una segunda lista ""

lista2=["hola","que","tal","que","famoso","eres"]
s2=pd.Series(lista2)

In [44]:
s2.sum()

'holaquetalquefamosoeres'

In [45]:
s2.mode()

0    que
dtype: object

In [47]:
s2.count()

np.int64(6)

In [49]:
s2.max()

'tal'

In [50]:
s2.min()

'eres'

In [51]:
s.value_counts()

4    4
3    3
2    2
1    1
Name: count, dtype: int64

In [52]:
s2.value_counts()

que       2
hola      1
tal       1
famoso    1
eres      1
Name: count, dtype: int64

In [53]:
s.value_counts(1)

4    0.4
3    0.3
2    0.2
1    0.1
Name: proportion, dtype: float64

In [54]:
# Expresando en porcentajes
s2.value_counts(1)

que       0.333333
hola      0.166667
tal       0.166667
famoso    0.166667
eres      0.166667
Name: proportion, dtype: float64

In [ ]:
# Todas las caracteristicas 
s.describe()

count    10.000000
mean      3.000000
std       1.054093
min       1.000000
25%       2.250000
50%       3.000000
75%       4.000000
max       4.000000
dtype: float64

## Aplicando Operasiones a una serie

In [56]:
s1=pd.Series([1,2,3,4])
s1

0    1
1    2
2    3
3    4
dtype: int64

In [57]:
s1//3

0    0
1    0
2    1
3    1
dtype: int64

In [58]:
sx=s1-5
sx

0   -4
1   -3
2   -2
3   -1
dtype: int64

## Aplicando Funciones a una serie

In [59]:
snum=pd.Series([1,2,3,4])
snum

0    1
1    2
2    3
3    4
dtype: int64

In [60]:
import math as m

In [61]:
snum.apply(m.sqrt)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
dtype: float64

In [63]:
def Duplica(x):
    return 2*x
snum.apply(Duplica)

0    2
1    4
2    6
3    8
dtype: int64

## Filtrado de una Serie

In [64]:
materias=pd.Series({"matematicas":6,"economia":4.5,"Programasion":8.5})

In [65]:
#Filtar aquellas materias cuya calificasion sea mayor a 5
print(materias[materias>5])

matematicas     6.0
Programasion    8.5
dtype: float64

In [66]:
# filtrar aquellaas materias donde sea igual a 6
print(materias[materias==6])

matematicas    6.0
dtype: float64

In [67]:
print(materias[materias>=6].count())

2

In [68]:
# Calcular la media de la calificasiones aprobatorias

In [69]:
print(materias[materias>=6].mean())

7.25

## Ordenar una serie

In [70]:
materias

matematicas     6.0
economia        4.5
Programasion    8.5
dtype: float64

In [71]:
## Ordenar las materias de acuerdo as sus valores acendentemente 
materias2=materias.sort_values()
materias2

#Por defecto dlo hace de manera acendente

economia        4.5
matematicas     6.0
Programasion    8.5
dtype: float64

In [72]:
# Ordenarlos de manera decendente 
materias3=materias.sort_values(ascending=False)
materias3

Programasion    8.5
matematicas     6.0
economia        4.5
dtype: float64

In [73]:
equipos=pd.Series(["Santos","Cruz Azul","America","Guadalajara","Zacatepec","Pumas","Bravos","cholos","atlas","Veracruz"])
equipos

0         Santos
1      Cruz Azul
2        America
3    Guadalajara
4      Zacatepec
5          Pumas
6         Bravos
7         cholos
8          atlas
9       Veracruz
dtype: object

In [74]:
equipos2=equipos.sort_values()
equipos2

2        America
6         Bravos
1      Cruz Azul
3    Guadalajara
5          Pumas
0         Santos
9       Veracruz
4      Zacatepec
8          atlas
7         cholos
dtype: object

In [75]:
equipos3=equipos.sort_values(ascending=False)
equipos3

7         cholos
8          atlas
4      Zacatepec
9       Veracruz
0         Santos
5          Pumas
3    Guadalajara
1      Cruz Azul
6         Bravos
2        America
dtype: object